$ cat .gitignore
# exclude everything except directories Source, Lib, And Programs
/*
!/Source
!/Lib
!/Programs
# exclude files that are required from the above list.
!README.md
!G2D.ico
!Engine Doc.txt